[Desktop Entry]
Name[af]=Laat sagteware loop
Name[an]=Executar programa
Name[ar]=شغّل البرمجيات
Name[as]=চফ্টৱেৰ চলাওক
Name[be]=Запуск кіраўніка праграм
Name[bg]=Стартиране на програми
Name[bn_IN]=সফ্টওয়্যার চালান
Name[bs]=Pokrenite program
Name[ca]=Executa el programari
Name[ca@valencia]=Executa programari
Name[ckb]=دەسپێکردنی نەرمەکاڵا
Name[crh]=Yazılım Çaptır
Name[cs]=Spustit software
Name[da]=Kør programmer
Name[de]=Software ausführen
Name[el]=Εκτέλεση λογισμικού
Name[en_GB]=Run Software
Name[eo]=Lanĉi programaron
Name[es]=Ejecutar programa
Name[et]=Tarkvara käivitamine
Name[eu]=Exekutatu softwarea
Name[fa]=اجرای نرم‌افزار
Name[fi]=Suorita ohjelmisto
Name[fo]=Koyr forrit
Name[fr]=Lancer le logiciel
Name[fur]=Eseguìs Software
Name[ga]=Rith Bogearraí
Name[gd]=Ruith bathar-bog
Name[gl]=Executar software
Name[gu]=સોફ્ટવેર ચલાવો
Name[he]=הפעלת התוכנה
Name[hi]=सॉफ्टवेयर चलायें
Name[hr]=Pokreni softver
Name[hu]=Szoftver futtatása
Name[ia]=Executar software
Name[id]=Jalankan Perangkat Lunak
Name[ie]=Lansar un programma
Name[is]=Keyra hugbúnað
Name[it]=Esegui software
Name[ja]=ソフトウェアの実行
Name[ka]=პროგრამის გაშვება
Name[kab]=Seddu aseɣẓan
Name[kk]=Бағд. қамтаманы іске қосу
Name[kn]=ತಂತ್ರಾಂಶವನ್ನು ಚಲಾಯಿಸು
Name[ko]=프로그램 실행
Name[ky]=Программаны иштетүү
Name[ln]=Pelisa litámbuisi
Name[lo]=ເປີດໃຊ້ຊອບແວ
Name[lt]=Įvykdyti programą
Name[lv]=Palaist programmatūru
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ പ്രവര്‍ത്തിപ്പിയ്ക്കുക
Name[mr]=सॉफ्टवेअर चालवा
Name[ms]=Jalankan Perisian
Name[my]=ဆော့ဖ်ဝဲလ်မောင်းနှင်
Name[nb]=Kjør programvare
Name[ne]=सफ्टवेयर चलाउनुहोस्
Name[nl]=Software starten
Name[oc]=Aviar lo logicial
Name[or]=ସଫଟୱେର ଚଲାନ୍ତୁ
Name[pa]=ਸਾਫਟਵੇਅਰ ਚਲਾਓ
Name[pl]=Uruchamianie oprogramowania
Name[pt]=Executar o Software
Name[pt_BR]=Executar software
Name[ro]=Pornește programul
Name[ru]=Запустить Центр приложений
Name[sk]=Spustiť Softvér
Name[sl]=Zaženi programsko opremo
Name[sr]=Покрени програм
Name[sr@latin]=Pokreni program
Name[sv]=Kör program
Name[ta]=மென்பொருளை இயக்கு
Name[te]=సాఫ్ట్‍వేరుని నడుపు
Name[tg]=Иҷро кардани нармафзор
Name[th]=เรียกซอฟต์แวร์ทำงาน
Name[tr]=Yazılımı Çalıştır
Name[ug]=يۇمشاق دېتالنى ئىجرا قىل
Name[uk]=Запустити програму
Name[uz]=Dastur ishga tushirish
Name[vi]=Chạy phần mềm
Name[zh_CN]=运行软件
Name[zh_HK]=執行軟件
Name[zh_TW]=執行軟體
Name=Run Software
TryExec=nautilus-autorun-software
Exec=nautilus-autorun-software %u
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=application-x-executable
NoDisplay=true
Terminal=false
StartupNotify=true
Type=Application
MimeType=x-content/unix-software;
Hidden=true
