[Desktop Entry]
Name=World of Tanks Blitz
Comment=Play this game on Steam
Exec=steam steam://rungameid/444200
Icon=steam_icon_444200
Terminal=false
Type=Application
Categories=Game;
