$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #BB5A47;
$secondary_paletteKeyColor: #926F68;
$tertiary_paletteKeyColor: #887544;
$neutral_paletteKeyColor: #777777;
$neutral_variant_paletteKeyColor: #777777;
$background: #131313;
$onBackground: #E2E2E2;
$surface: #131313;
$surfaceDim: #131313;
$surfaceBright: #393939;
$surfaceContainerLowest: #0E0E0E;
$surfaceContainerLow: #1B1B1B;
$surfaceContainer: #1F1F1F;
$surfaceContainerHigh: #2A2A2A;
$surfaceContainerHighest: #353535;
$onSurface: #E2E2E2;
$surfaceVariant: #474747;
$onSurfaceVariant: #C6C6C6;
$inverseSurface: #E2E2E2;
$inverseOnSurface: #303030;
$outline: #919191;
$outlineVariant: #474747;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB4A5;
$primary: #FFB4A5;
$onPrimary: #5F1608;
$primaryContainer: #7D2C1C;
$onPrimaryContainer: #FFDAD3;
$inversePrimary: #9C4331;
$secondary: #E7BDB4;
$onSecondary: #442A24;
$secondaryContainer: #5D3F39;
$onSecondaryContainer: #FFDAD3;
$tertiary: #DCC48C;
$onTertiary: #3D2F04;
$tertiaryContainer: #A38F5B;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDAD3;
$primaryFixedDim: #FFB4A5;
$onPrimaryFixed: #3E0400;
$onPrimaryFixedVariant: #7D2C1C;
$secondaryFixed: #FFDAD3;
$secondaryFixedDim: #E7BDB4;
$onSecondaryFixed: #2C1510;
$onSecondaryFixedVariant: #5D3F39;
$tertiaryFixed: #F9E0A6;
$tertiaryFixedDim: #DCC48C;
$onTertiaryFixed: #241A00;
$onTertiaryFixedVariant: #554519;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1A1A1A;
$term1: #FF553D;
$term2: #FFBF85;
$term3: #FFE0D0;
$term4: #B8AC66;
$term5: #F08E94;
$term6: #F5C06E;
$term7: #EFD2C4;
$term8: #CBB4AA;
$term9: #FFAB9C;
$term10: #FFFCFF;
$term11: #FFFFFF;
$term12: #F1DAAB;
$term13: #FFCECD;
$term14: #FFF9F6;
$term15: #DAE4E6;
